@import url('https://fonts.googleapis.com/css2?family=Borel&family=Hind+Siliguri:wght@300&family=Josefin+Sans:wght@200;400&family=Tektur&family=Work+Sans:wght@300&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./background.png");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}